{% extends "base.html"%} {% block heading %} error404 {% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{%block body%}
<div class="container">
  <header id="header">
    <h1><a href="{{ url_for('home') }}">Sebby wekesa</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
        <li><a class="nav-link" href="{{ url_for('resume') }}">Resume</a></li>
        <li>
          <a class="nav-link" href="{{ url_for('services') }}">Services</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('portfolio') }}">My portfolio</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </header>
</div>

<p>page not found</p>
{%endblock%}
