{% extends "base.html"%}

{% block heading %}
    About
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block body %}
    <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/images/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Software Developer and Data Science</h3>
          <p class="fst-italic">
            I am a strong advocate for open-source software and have actively contributed to projects on platforms like GitHub. Collaborating with the global developer community has been an enriching experience that has expanded my skills and perspective.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>16 April 1998</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.sebbywekesa.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254 797 294574</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi, Kenya</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>bachelor</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sebbywakis@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
            I am a motivated, adaptable and responsible computing student seeking a position in an IT position which will utilize the professional and technical skills developed through past year of study in this field. And be able to change my society and the world as whole through my skills and profession.
        </div>
      </div>

    </div>
    <!-- End About Me -->
{% endblock %}