{% extends "base.html" %} {% block heading %} homepage {% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% block body %}
<!-- ======= Header ======= -->
<header id="header">
  <div class="container">
    <h1><a href="index.html">Sebby wekesa</a></h1>
    <h2>I'm a passionate <span>Python developer</span> from Nairobi, Kenya</h2>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
        <li><a class="nav-link" href="{{ url_for('resume') }}">Resume</a></li>
        <li>
          <a class="nav-link" href="{{ url_for('services') }}">Services</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('portfolio') }}">My portfolio</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <div class="social-links">
      <a href="https://twitter.com/Sebby_wekesa" class="twitter"
        ><i class="bi bi-twitter"></i
      ></a>
      <a href="https://github.com/sebby-wekesa" class="github"
        ><i class="bi bi-github"></i
      ></a>
      <a href="https://www.instagram.com/iam_s.e.b.b.y/#" class="instagram"
        ><i class="bi bi-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/sebby-wekesa-1532781a0"
        class="linkedin"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div>
  </div>
</header>
<!-- End Header -->
{% endblock %}
