{% extends "base.html"%}

{% block heading %}
    Resume
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block body %}
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Sebby wekesa</h4>
            <p><em>I am a motivated, adaptable and responsible computing student seeking a position in an IT position which will utilize the professional and technical skills developed through past year of study in this field. And be able to change my society and the world as whole through my skills and profession.</em></p>
            <p>
            <ul>
              <li>Nairobi, Kenya</li>
              <li>(+254) 03-01000</li>
              <li>sebbywakis@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of science in computer science</h4>
            <h5>2018 - 2023</h5>
            <p><em>Gretsa University BSc. Computer science, Thika</em></p>
            <p>Key skills gained:
            <ul>
            	<li> Web development skills for both front end and back end (strong at backend) using python (Django and Flask), PHP, JavaScript, HTML, CSS, SQL, POSTGRESQL</li>
            	<li>Understanding Object oriented design, Functional design and Analysis concepts.</li>
            	<li>Machine learning and Data science </li>
            	<li>Great understanding in networking.</li>
            	<li>Skills in dealing with Databases.</li>
            	<li>Skills in Object oriented language such as C++ and java</li>
            </ul>

</p>
          </div>
          <div class="resume-item">
            <h4>Kenya certificate of secondary education</h4>
            <h5>2014 - 2017</h5>
            <p><em>AIC Kapkoi Secondary School, Moi's Bridge</em></p>
            <p>KCSE Certificate C+</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Civil Registrations service (internship)</h4>
            <h5> Jan 2023 - April 2023</h5>
            <p><em>Kitale, Trans nzoia county, Kenya </em></p>
            <p>
            <ul>
              <li>Registration and productions of birth and death certificate </li>
              <li>Networking:- configuring switches and router, troubleshooting different network issues and converting wired to wireless network </li>
              <li>Intergreting customer feedback into product and managing backlogs to prioritize item in line with customer goal</li>
              <li>Software Updates:- installing missing drivers in various office computers and maintaining updates</li>
              <li>Hardware troubleshooting and maintanance </li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Reference</h4>
            <h5>Joseph ndongoli</h5>
            <p>
            <ul>
              <li>County Civil Registrar</li>
              <li>Kitale</li>
              <li>Phone No: 0729058666</li>
              <li>Trans-nzoia county</li>
            </ul>
            </p>
            <h5>elisha kihembele</h5>
            <p>
            <ul>
              <li>Civil servant</li>
              <li>Kitale</li>
              <li>Phone No: 0729058666</li>
              <li>Trans-nzoia county</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
{% endblock %}