{% extends "base.html"%}

{% block heading %}
    Resume
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block body %}
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Sebby wekesa</h4>
            <p><em>Motivated and adaptable Computer Science graduate with hands-on IT experience in support, networking, and
software development. Strong problem-solving skills with a focus on delivering efficient technical solutions.
Adept at troubleshooting, system maintenance, and collaborating in team environments.</em></p>
            <p>
            <ul>
              <li>Nairobi, Kenya</li>
              <li>(+254)797 294 574</li>
              <li>sebbywakis@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of science, computer science (Gretsa University Thika)</h4>
            <h5>2018 - 2023</h5>
            <p><em>Gretsa University BSc. Computer science, Thika</em></p>
            <p>Relevant coursework:
            <ul>
            	<li>Software Development: Data structures and Algorithms, Object-Oriented Programming.</li>
            	<li>System/Security: Computer Networks, Database Management, Cybersecurity Fundamentals.</li>
            	<li>Applied Technologies: Web Development(HTML/CSS/Javascript), Machine Learning</li>
            </ul>

</p>
          </div>
          <div class="resume-item">
            <h3 class="resume-title">Professional Experience</h3>         
            <h4>IT Support Technician </h4>
            <h5>February 2024- April 2024</h5>
            <p><em>Riannah wholesalers, Eastleigh,Nairobi County</em></p>
            <p>
              <li>Spearheaded the installation and updates of a proprietary shop management system, reducing manual errors by 30%.</li>
              <li> Repaired network cables, configured secure Wi-Fi, and resolved connectivity problems.</li>
              <li>Managed customer feedback and prioritized system improvements.</li>
              <li> network performance, resolving bandwidth</li>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="resume-item">
            <h4>ICT Attaché/Consultant</h4>
            <h5> Jan 2023 - April 2023</h5>
            <p><em>Civil Registrations Services, Trans nzoia county, Kitale </em></p>
            <p>
            <ul>
              <li>Database & System Administration:
                <ul>
                    <li>Managed SQL-based databases for birth/death certificate records, ensuring 99% data accuracy.</li>
                    <li>Automated software updates across 15+ departmental computers using PowerShell scripts.</li> 
                </ul>
                </li>
              <li>Network Troubleshooting:
                  <ul>
                    <li>Configured Cisco switches/routers and resolved IP conflicts, improving LAN stability.</li>
                    <li>Migrated a wired office network to wireless infrastructure, enhancing mobility for staff.</li>
                  </ul> 
              </li>
              <li>
                Process Improvement:
                  <ul>
                    <li>
                      Trained 10+ staff on digital registration tools, cutting processing time by 25%
                    </li>
                  </ul>
              </li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Certification</h4>
            <h5>Technical Skills and Certification</h5>
            <p>
            <ul>
              <li>Programming and web development: Python, JavaScript, Java, SQL, HTML/CSS, Flask, REST APIs</li>
              <li>Networking: Cisco CLI, TCP/IP, Wireless Configurations.</li>
              <li>Tools: Git, Linux CLI, Microsoft Office, Wireshark.</li>
              <li>Certifications:
                <ul>
                  <li>Cisco Networking Academy: Python Programming, Data Analytics.</li>
                  <li>Sololearn: Machine Learning, Data Structures (Python), Data Science.</li>
                </ul>
              </li>
            </ul>
          <div class="resume-item">
            <h4>Reference</h4>
            <h5>Joseph ndongoli</h5>
            <p>
            <ul>
              <li>County Civil Registrar</li>
              <li>Kitale</li>
              <li>Phone No: 0729058666</li>
              <li>Trans-nzoia county</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
{% endblock %}